<% @products.each do |product| %>
<% if product.quantity > 0 %>
  <div class="col-sm-6 col-md-4 row-eq-height">
    <div class="thumbnail">
      <% if product.product_images.count > 0 %>
        <%= image_tag product.product_images.first.image, size: '400' %>
        <!-- TODO: find a way to set max height -->
      <% else %>
        <img src= "..." alt= "...">
      <% end %>
      <div class="caption">
        <h3><%= product.breed %></h3>
        <p><%= product.description %></p>
        <p>Born on: <%= product.dob %></p>
        <p>Price: $<%= product.price %></p>
        <p>Quantity available: <%= product.quantity %></p>

        <div class="row">
          <div class="col-md-3">
            <p><%= button_to "Details", meow_product_path(product), method: :get, class: 'btn btn-primary', role: 'button' %></p>
          </div>

          <% if admin_signed_in? %>
          <div class="col-md-2">
            <p><%= button_to "Edit", edit_admin_product_path(product), method: :get, class: 'btn btn-primary', role: 'button' %></p>
          </div>

          <div class="col-md-2">
            <p><%= button_to "Delete", admin_product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary', role: 'button' %></p>
          </div>
          <% end %>

        </div><!--closes row-->
      </div>
    </div>
  </div>
<% end %>
<% end %>
