<h1>Breed: <%= @product.breed %> (<%= @product.gender %>) </h1>

Birthdate: <%= @product.dob %> <br>
Description: <%= @product.description %> <br>
Price: <%= @product.price %> SGD<br>
Gender: <%= @product.gender.capitalize %> <br>
Quantity available: <%= @product.quantity %>

<h2>Add breed to cart</h2>

<%= simple_form_for @line_item, url: browse_line_item_path(product_id: @product), method: :post do |f| %>
  <%= f.input :quantity, collection: 1..@product.quantity %>
  <%= f.submit %>
<% end %>
