<h1>All cats</h1>

<hr>
<% @products.each do |product| %>
  <%= product.breed %>
  <br>
  <%= product.dob %>
  <br>
  <%= product.description %>
  <br>
  <%= product.price %>
  <br>
  <%= product.quantity %>
  <br>


  <%= link_to "Show", meow_product_path(product) %>

  <hr>


<% end %>
