<h1>Breed: <%= @product.breed %> (<%= @product.gender.capitalize %>) </h1>

Birthdate: <%= @product.dob %> <br>
Description: <%= @product.description %> <br>
Price: <%= @product.price %> <br>
Gender: <%= @product.gender %> <br>
Quantity available: <%= @product.quantity %>

<h2>Want this breed?</h2>

<%= simple_form_for @line_item, url: meow_line_item_path(product_id: @product), method: :post do |f| %>
  <%= f.input :quantity, collection: 1..@product.quantity %>
  <%= f.submit 'Add to cart' %>
<% end %>
