<!DOCTYPE html>
<html>
  <head>
    <title>ChairmanMeow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", meow_products_path %>
    <% if user_signed_in? || admin_signed_in? %>
      <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
      <%= link_to "Log Out", destroy_user_session_path, :method => "delete", data:{ confirm:"ARE YOU SURE?!?" } %>
    <% else %>
      <%= link_to "New User", new_user_registration_path %>
      <%= link_to "User Log In", new_user_session_path %>
      <%= link_to "Admin Log In", new_admin_session_path %>
    <% end %>

    <% if admin_signed_in? %>
      <%= link_to "Admin Sign Up", new_admin_registration_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
